@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
    height: 100%;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    @apply flex flex-col;
}

/** Utilities **/
.mrsmart-container {
    @apply px-5 md:px-16 lg:px-32;
}

/** Alpinejs **/
[x-cloak] {
    display: none !important;
}
/** Alpinejs End**/
/** Utilities End **/
main.mrsmart-parent {
    @apply text-primary;
}

.home-page {
    height: 100%;
}
/** NAVBAR **/
.navbar {
    @apply fixed top-0 left-0 z-50 w-full bg-white shadow text-primary w-full py-3 flex justify-between items-center;

    a {
        img {
            @apply h-10;
        }
    }

    .mobile-nav {
        @apply absolute z-50 left-0 top-0 right-0 gap-2 bottom-0 min-h-screen bg-gray-900/80  flex flex-col justify-center items-center;

        img.mobile-nav-close {
            @apply h-10 cursor-pointer;
        }
        ul {
            @apply flex flex-col justify-center items-center flex-wrap gap-5 bg-primary/90 h-4/5 w-11/12 p-5 rounded-xl;

            li.nav-link {
                a {
                    @apply text-white text-2xl uppercase;
                }
            }
        }
    }
    nav {
        @apply absolute left-[50%] translate-x-[-50%];

        img.mobile-nav-open {
            @apply h-10 sm:hidden;
        }
        ul {
            @apply hidden sm:flex gap-5;

            li.nav-link {
                a {
                    @apply text-primary uppercase hover:font-semibold;
                }
            }
        }
    }

    .call-number {
        @apply cursor-pointer p-2 lg:px-4 hover:bg-primary border-2 border-primary rounded-full transition-colors duration-200 delay-75 hover:shadow-accent/50 hover:shadow-md animate-pulse lg:animate-none;

        a {
            @apply hidden lg:block  text-primary;
        }

        img {
            @apply h-5 lg:h-0 lg:hidden;
        }
    }
}
/** NAVBAR END **/

/** FOOTER **/
.footer {
    @apply bg-primary w-full py-20 mt-auto flex flex-col-reverse gap-y-10 md:gap-0 items-center md:items-start md:flex-row justify-between;

    .brand {
        &-logo {
            @apply flex;

            img {
                @apply h-16 lg:h-20;
            }
            .brand-name {
                @apply ml-5;

                p {
                    @apply text-white;

                    &.big {
                        @apply text-2xl lg:text-3xl;
                    }

                    &.small {
                        @apply text-sm lg:text-base;
                    }
                }
            }
        }

        &-slogan {
            @apply italic text-center md:text-left text-white text-[10px] mt-2;
        }
    }

    .quick-links,
    .contact {
        @apply flex flex-col gap-y-2;

        p {
            @apply font-bold text-white text-base lg:text-xl mb-2;
        }

        a {
            @apply text-secondary text-sm lg:text-base;

            &.quick-link {
                @apply font-semibold;

                &::before {
                    content: "\2022";
                    @apply mr-2;
                }
            }

            &.contact-link {
                @apply flex gap-2;

                img {
                    @apply h-5 lg:h-6;
                }
            }
        }
    }

    .contact {
        @apply flex items-center md:items-start;
    }
}

/** FOOTER END **/

/** SECTIONS **/
/** HERO SECTION **/

section.hero {
    @apply relative overflow-hidden h-[70vh] lg:h-[95vh];

    img {
        @apply absolute -bottom-14 object-cover  left-0 w-full h-full scale-x-[-1] -z-10;
    }

    .hero-content {
        @apply absolute bottom-0 h-full left-0 w-full mt-auto z-10  flex flex-col justify-end pb-10 md:pb-16 lg:pb-32 bg-gradient-to-t from-[#111111]/50 via-transparent to-transparent;

        .welcome-container {
            span.welcome {
                @apply bg-white px-4 py-2 text-2xl md:text-3xl lg:text-4xl text-primary font-semibold;
            }
        }

        h1 {
            @apply text-4xl md:text-5xl lg:text-6xl mt-10 mb-5 text-white font-bold;
        }
        p.slogan {
            @apply italic text-white text-base lg:text-lg;
        }
    }
}

/** HERO SECTION END**/

/** INFO SECTION **/

section.info-container {
    @apply bg-white z-20 relative flex mb-14 justify-center;

    .info {
        @apply absolute w-3/4 flex -top-16 justify-between rounded-2xl bg-primary px-12 py-8 shadow-md gap-20;

        .info-item {
            @apply flex  items-center gap-5 w-1/3;

            svg {
                @apply h-16;
            }

            .item-description {
                @apply flex flex-col;

                .info-title {
                    @apply text-white text-lg font-bold;
                }
                .info-value {
                    @apply text-white;
                }
            }
        }
    }
}

/** INFO SECTION END**/

/** SECTIONS END**/
